/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: green;
    
    color: black;
    font: Verdana, Arial, serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
    color: rgb(0,0,0)
    
    
}


header {
    color: black;
    text-align: center;
    
}
footer {
    text-align: center;
    padding: 3px;
    background-color:green;
    color: black;
}




.tekst {
    font-family: monospace;
    font-size: 15px;
}
.tekst {
    font-family: monospace;
    font-size: 15px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
    border: solid 3px black; 
    width: 250px;
    
}
img.zweefRechts {
    float: right;
    margin-left: 15px;
    border: solid 3px black;
    width: 250px;
    animation: slide 3s ;

}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(0, 139, 74);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(51, 174, 46);
    overflow: hidden;
    border: solid 7px  black;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(21, 100, 30);
}

nav li a.active {
    background-color: rgb(100, 126, 103);
}

/* eye catchers */

@keyframes slide {
0% {
    left: -1000px;
}
100% {
    left: 0px;
}
}
.slide {
    position: relative ;
    animation: slide 3s;
}
@keyframes fadein {
    0% { opacity:0;}

    100% { opacity: 1;}
}
.fadein {
    animation: fadein 10s;

}


